/data
/data_3ch
/data_plax
/files
/load_resized_boxes.py
/main.py
/models
/runs
/test.ipynb
/test2.ipynb
/test3.ipynb
/valveframes.zip
/results
/inference_tartaglia.py
/data_tartaglia
/inference_badmasks.py
*.csv
/croped_to_valve_frame_badmasks.py
/croped_to_valve_frame.py

model_epoch_best.pth

*.txt
*.pth
